html {
  background-color: var(--color-light);
  color: var(--color-dark);
}

hr {
  width: 100%;
  display: block;
  color: var(--color-primary);
  border: none;
  border-top: solid 2px;
  margin: min(4rem, 5vh) 0;
}