.event-track-title {
  padding: 1rem;
  border-radius: .5rem;
  background-color: var(--color-bg-hover);
  margin-top: .5rem;
}
.event-tracks {
  display: grid;
  grid-template-columns: var(--tracks);
  gap: .5rem;

  > * {
    grid-column: var(--track, 1 / -1);
  }

  .event {
    margin: 0;
  }

  .event-header {
    padding: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: "time" "title";
  
    &:has(.event-subtitle) {
      grid-template-areas: "time" "title" "subtitle";
    }
  }
}
.event-modal-header {
  margin-bottom: 1em;
}

.event-modal-description {
  padding: 1rem;
  margin: 0;

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
.event-modal-speakers {
  list-style: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  column-gap: 4rem;
  row-gap: 2rem;
  flex-wrap: wrap;

  button {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    margin: 0;
    border: none;
    background: none;
    border-radius: .5rem;
    cursor: pointer;
    max-width: 300px;
    text-align: left;

    &:hover {
      background-color: var(--color-light);
    }
  }
  img {
    width: 100%;
    aspect-ratio: 1;
  }
  p {
    margin: 0;
  }
}