.event-tracks {
  display: grid;
  grid-template-columns: var(--tracks);
  gap: .5rem;

  > * {
    grid-column: var(--track, 1 / -1);
  }

  .event {
    margin: 0;
  }

  .event-header {
    padding: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: "time" "title";
  
    &:has(.event-subtitle) {
      grid-template-areas: "time" "title" "subtitle";
    }
  }
}
