.block-calendar {
  display: grid;
  grid-template-columns: subgrid;
  
  > div {
    display: grid;
    grid-column: start / end;
    row-gap: 4rem;
    column-gap: 4rem;
  }
}
.event-list {
  display: grid;
  row-gap: .5rem;
}
.event {
  background-color: white;
  overflow: hidden;
  border-radius: .5rem;

  &:first-of-type {
    margin-top: .5rem;
  }
}
.event summary {
  display: block;
  padding: 1rem;

  &:hover {
    background-color: color-mix(in srgb, var(--color-light), white 50%);
  }
}
.event-header {
  display: grid;
  grid-template-columns: min(150px, 33%) 1fr;
  grid-template-areas: "time title";
  cursor: pointer;
  align-items: center;
  row-gap: .25rem;
  background: none;
  text-align: left;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  &:has(.event-subtitle) {
    grid-template-areas: "time title" ". subtitle";
  }
  &:is(button:hover) {
    background-color: color-mix(in srgb, var(--color-light), white 50%);
  }
}
.event-time {
  grid-area: time;
}
.event-title {
  grid-area: title;

}
.event-subtitle {
  grid-area: subtitle;
  margin: 0;
}
.event-description {
  padding: 1rem;
  margin: 0;

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  @media (width > 600px) {
    margin: 0 0 0 150px;
  }
}
.event-speakers {
  list-style: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  column-gap: 4rem;
  row-gap: 2rem;
  flex-wrap: wrap;

  @media (width > 600px) {
    margin: 0 0 0 150px;
  }

  button {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    margin: 0;
    border: none;
    background: none;
    border-radius: .5rem;
    cursor: pointer;
    max-width: 300px;
    text-align: left;

    &:hover {
      background-color: var(--color-light);
    }
  }
  img {
    width: 100%;
    aspect-ratio: 1;
  }
  p {
    margin: 0;
  }
}