:root {
  /* Colors */
  --color-primary: #2a4ba4;
  --color-secondary: #ffa8c6;
  --color-dark: hwb(250 10% 70%);
  --color-light: white;

  /* Fonts */
  --font-family-display: system-ui, sans-serif;
  --font-family-ui: system-ui, sans-serif;
  --font-weight-bold: 600;
}

.block-hero-header {
  h1 {
    opacity: 0;
  }
  img {
    display: block;
    margin: 1em auto;
    max-width: 100%;
  }
}

pre code {
  overflow-x: auto;
}
