<div id="{{ block.id }}" class="block-text theme {{ block.theme }} {{ block.columns ? 'has-columns' : '' }}">
  {{ if block.title }}
    <h2 class="type-title">{{ block.title }}</h2>
  {{ /if }}

  <div class="type-txt">
    {{ block.text |> md }}
  </div>
</div>
