---
layout: ./base.vto
body_class: body-text
---
{{ include "templates/navbar.vto" }}

<article class="text type-txt theme is-light">
  <header class="text-header">
    <h1 class="type-header">{{ title }}</h1>
    {{ subtitle |> md }}
  </header>

  <div class="text-body">
    {{ content |> md }}
  </div>
</article>

{{ include "templates/footer.vto" }}
