.footer {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: subgrid;
  padding: 4rem 0;

  > * {
    grid-row: 1;
  }
}
.footer-content {
  grid-column: start / end;
  font-size: var(--font-0-size);
  line-height: var(--line-height-text);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 250px));
  column-gap: 2rem;
  row-gap: 2rem;
  padding-right: 50px;

  ul,
  p {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.footer-logo {
  grid-column: center / end;
  justify-self: end;
  align-self: start;
  object-fit: contain;
}
