html:has(.navbar-flexible) {
  scroll-padding-top: 150px;
}
.navbar-flexible {
  position: sticky;
  display: flex;
  column-gap: 1rem;
  width: 100%;
  left: 0;
  top: 0;
  padding: 1rem 2rem;
  box-sizing: border-box;
  font-family: var(--font-family-ui);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-2-size);
  letter-spacing: var(--font-2-spacing);
  line-height: var(--line-height-text);
  z-index: 3;

  svg {
    width: 1em;
    height: 1em;
    flex: 0 0 auto;
  }

  .navbar-logo {
    margin-right: auto;
    img {
      height: auto;
    }
    @media (width < 650px) {
      display: none;
    }
  }

  .navbar-menu {
    display: flex;
    column-gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-bg);

    a {
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      border-radius: var(--border-radius-button);
      height: 50px;
      text-decoration: none;
      color: var(--color-links);
      &:hover {
        background-color: color-mix(in srgb, var(--color-bg), var(--color-primary) 10%);
      }

      &.is-highlight::after {
        content: "";
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        background-color: var(--color-secondary);
        border-radius: 50%;
        position: relative;
        top: -0.5em;
        animation: bouncing-y 500ms ease-in infinite alternate;
      }
    }
  }
  .navbar-menu-toggle {
    display: none;
    margin: 0;
    padding: 0 2rem;
    height: 50px;
    line-height: var(--line-height-medium);
    align-items: center;
    border: none;
    outline: 0;
    font: inherit;
    color: white;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-button);
    cursor: pointer;
    column-gap: 0.5em;
    &:hover {
      background-color: color-mix(in srgb, var(--color-primary), black 10%);
    }
    svg {
      fill: currentColor;
    }
  }

  .navbar-cta {
    background-color: var(--color-secondary);
    padding: 0 1.5rem;
    border-radius: var(--border-radius-button);
    height: 50px;
    text-decoration: none;
    color: var(--color-dark);
    line-height: var(--line-height-medium);
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 0.5em;

    svg {
      fill: currentColor;
    }

    &:hover {
      background-color: color-mix(in srgb, var(--color-secondary), black 5%);

      svg {
        animation: bouncing-x 400ms ease-out infinite alternate;
      }
    }
  }
}

@media (width < 1100px) {
  .navbar-flexible .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 1rem;
    width: calc(100% - 2rem);
    border-radius: 1em;
  }
  body.has-navbar-open .navbar-flexible {
    .navbar-menu {
      display: flex;
    }
    .navbar-menu-toggle {
      background-color: color-mix(in srgb, var(--color-primary), black 10%);
    }
  }
  .navbar-flexible .navbar-menu-toggle {
    display: flex;
  }
}
@media (width < 600px) {
  .navbar-flexible {
    grid-template-columns: auto 1fr;

    .navbar-menu {
      flex-direction: column;

      > li a {
        padding-left: 2em;
      }
    }
  }
}
@media (width < 450px) {
  .navbar-flexible {
    .navbar-menu {
      > li a {
        padding-left: 2em;
      }
    }
    .navbar-cta {
      padding: 1em;
      justify-content: center;
    }
  }
}

@keyframes bouncing-y {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes bouncing-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(8px);
  }
}
