.block-activities-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 2em;

  @media (min-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  > li {
    background: var(--color-highlight);
    border-radius: 0.5rem;
    overflow: hidden;
    container-type: inline-size;

    /* Double width: span all columns (no effect on single-column layouts) */
    &.is-wide {
      grid-column: 1 / -1;
    }

    /* Alternative styles */
    &.is-shadow {
      box-shadow: -8px 8px 0 var(--color-secondary);
    }
    &.is-primary {
      background: var(--color-primary);
      color: white;
      --color-links: var(--color-light);
    }
    &.is-secondary {
      background: var(--color-secondary);
      color: var(--color-dark);
      --color-links: var(--color-dark);
    }
    &.is-dark {
      background: var(--color-dark);
      color: var(--color-light);
      --color-links: var(--color-primary);
    }
    &.is-light {
      background: var(--color-light);
      color: var(--color-dark);
      --color-links: var(--color-dark);
    }
    &.is-primary .badge {
      --bg: var(--color-secondary);
      --color: var(--color-dark);
    }
    &.is-secondary .badge,
    &.is-dark .badge {
      --bg: var(--color-light);
      --color: var(--color-dark);
    }

    > div {
      display: flex;
      flex-direction: column;
      height: 100%;

      @container (min-width: 450px) {
        flex-direction: row;
      }
    }
  }
  .activity-content {
    padding: 1rem;
  }

  .activity-tags {
    margin: 0 0 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
  }

  .activity-image {
    width: 100%;
    height: 150px;
    object-fit: cover;

    @container (min-width: 450px) {
      height: 100%;
      width: 200px;
    }
    @container (min-width: 700px) {
      width: 300px;
    }
  }

  .activity-title {
    margin: 0;
  }
}
