<header class="block-header theme is-light box-fill width-box">
  <h1 class="type-header">{{ block.title |> md(true) }}</h1>

  <div class="type-txt">
    {{ block.description |> md }}
  </div>
</header>
