.block-tickets-header {
  max-width: 800px;
  text-align: center;
  margin: 0 auto 4rem auto;
}

.tickets-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  @media (max-width: 1330px) {
    display: none;
  }

  & thead tr {
    & th {
      width: 150px;
      padding: 1rem 1rem 2rem;
      background: var(--color-light);
      text-align: center;

      &:empty {
        background: none;
      }

      @media (height > 450px) {
        top: 80px;
        position: sticky;
      }

      @media (650px > height > 450px) {
        > img, > p {
          display: none;
        }
      }
      
    }
    & th:empty {
      width: 300px;
    }
  }
  & tbody tr:first-child {
    & th:first-child {
      width: auto;
    }
  }

  .ticket-img {
    margin-bottom: 1rem;
  }

  .ticket-header > p {
    margin-bottom: 2rem;
  }

  .ticket-feature > * {
    padding: 1rem;
    border-bottom: solid 1px color-mix(in srgb, var(--color-light), black 10%);
  }

  .ticket-feature-title {
    background: white;
  }
}

.tickets-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 5rem;
  row-gap: 2rem;
  
  @media (width > 700px) {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
  @media (width > 1330px) {
    display: none;
  }

  .ticket-header {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 1rem;
    row-gap: .5rem;
    align-items: center;
    justify-items: start;
    padding: 1rem 0;
    border-bottom: solid 1px color-mix(in srgb, var(--color-light), black 10%);
    background: var(--color-light);
    grid-template-areas: "img title" "img cta";

    .ticket-disabled {
      grid-area: cta;
    }
    .ticket-img {
      grid-area: img;
    }
    > p {
      grid-area: title;
    }

    @media (width < 700px) {
      position: sticky;
      top: 80px;
    }
  }

  .tickets-features {
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: grid;
    row-gap: 1em;
    column-gap: 2em;
    column-width: 200px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: start;
  }

  .ticket-feature {
    display: flex;
    column-gap: 1em;
    align-items: center;
  }
  .ticket-feature-title {
    order: 1;
    font-size: var(--font-0-size);
    letter-spacing: var(--font-0-spacing);
  }
  .ticket-feature-value {
    flex: 0 0 32px;
  }
}

.ticket-header {
  font-weight: normal;
  text-align: left;
  vertical-align: bottom;

  & p {
    margin: 0;
  }
}

.ticket-name {
  font-size: var(--font-3-size);
  letter-spacing: var(--font-3-spacing);
  line-height: var(--line-height-title);
  display: block;
}
.ticket-img {
  display: block;
  max-width: 100%;
}
.ticket-pricing {
  font-size: var(--font-1-size);
  letter-spacing: var(--font-1-spacing);
  line-height: var(--line-height-title);
  display: block;
  font-style: normal;
  margin-top: .5em;
}

.ticket-feature-title {
  text-align: left;
  font-size: var(--font-1-size);
  letter-spacing: var(--font-1-spacing);
  line-height: var(--line-height-text);
  font-weight: normal;
}
.ticket-feature-value {
  text-align: center;
  vertical-align: middle;
  color: var(--color-primary);

  &.is-missing {
    --color-icons: var(--color-secondary);
  }

  & svg {
    display: block;
    margin: auto;
    width: 32px;
  }
}

.ticket-disabled {
  background: var(--color-gray-xlight);
  color: var(--color-gray);
  font-size: var(--font-1-size);
  line-height: var(--line-height-text);
  padding: .5em 1em; 
}