.block-logos {
  display: grid;
  grid-template-columns: subgrid;
  
  > * {
    grid-column: start / end;
  }
}
.block-logos-header {
  text-align: center;
  max-width: 50rem;
  justify-self: center;
}
.block-logos-description img {
  display: block;
  margin: 4em auto 0;
  max-width: 100%;

}

.block-logos-list {
  --width: 200px;

  list-style: none;
  margin: 4em 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--width));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
  justify-content: center;
  text-align: center;

  &.is-small {
    --width: 150px;
  }

  & a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

    &:hover img {
      filter: none;
    }
  }

  & p {
    font-size: var(--font-0-size);
    line-height: var(--line-height-medium);
    margin: 0;
  }

  & img {
    width: 100%;
    height: 130px;
    object-fit: contain;
    filter: saturate(0);
  }
}