---
layout: null
url: /humans.txt
---
/* TEAM */
Idea: David Bonilla
Site: https://bonillaware.com/
Twitter: @david_bonilla
Location: A Coruña, Galicia, Spain.

Design and Developer: Óscar Otero
Site: https://oscarotero.gal/
Twitter: @misteroom
Location: Santiago, Galiza, Spain.

/* TECH */
Language: JavaScript/TypeScript (Deno)
Software: Lume (https://lume.land/)
Icons: Phoshor Icons (https://phosphoricons.com/)
